.cardProducts {
  background-color: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 2px 0 rgb(90 97 105 / 11%), 0 4px 8px rgb(90 97 105 / 12%),
    0 10px 10px rgb(90 97 105 / 6%), 0 7px 70px rgb(90 97 105 / 10%);
  font-weight: 300;
  padding: 1rem !important;
  margin-top: 20px;
}
.ordersTitle {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  color: #3d5170;
  margin-bottom: 20px;
}

.btnViewOrder {
  background: #57b846;
  border-color: #57b846;
}
.loadingSpin {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
}
.productImgCard {
  background-color: #fff;
  font-weight: 300;
  padding: 1rem !important;
  margin-top: 20px;
  border-radius: 0.625rem;
  box-shadow: 0 2px 0 rgb(90 97 105 / 11%), 0 4px 8px rgb(90 97 105 / 12%),
    0 10px 10px rgb(90 97 105 / 6%), 0 7px 70px rgb(90 97 105 / 10%);
}
.productDetailImg {
  width: 50%;
}
.productImgWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productImgWrapper h4 {
  margin: 20px 0px;
  font-weight: 500;
  font-size: 20px;
  color: #3d5170;
}
@media (max-width: 780px) {
  .ordersTitle {
    text-align: center;
  }
}
