.cardAddProduct {
  background-color: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 2px 0 rgb(90 97 105 / 11%), 0 4px 8px rgb(90 97 105 / 12%),
    0 10px 10px rgb(90 97 105 / 6%), 0 7px 70px rgb(90 97 105 / 10%);
  font-weight: 300;
  padding: 1rem !important;
  margin-top: 20px;
}
.createProduct {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  margin-bottom: 10px;
  color: #3d5170;
}
.labelPicture {
  font-weight: 500;
  margin: 0px;
  margin-bottom: 4px;
  margin-left: 5px;
}
.labelAddProduct {
  font-weight: 500;
  margin: 0px;
  margin-bottom: 4px;
  margin-left: 5px;
}
.labelAddProduct span {
  margin-left: 5px;
}
@media (max-width: 780px) {
  .createProduct {
    text-align: center;
  }
}
