.cardDashboard {
  box-shadow: 0 2px 0 rgb(90 97 105 / 11%), 0 4px 8px rgb(90 97 105 / 12%),
    0 10px 10px rgb(90 97 105 / 6%), 0 7px 70px rgb(90 97 105 / 10%);
  min-height: 8.7rem;
  overflow: hidden !important;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cardDashboard .title {
  letter-spacing: 0.0625rem;
  color: #818ea3;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.cardDashboard .number {
  font-size: 2.0625rem;
}

.cardDashboard .percentage {
  font-size: 0.75rem;
  margin: 0px;
}
.redCaret {
  color: #c4183c;
}
.greenCaret {
  color: #17c671;
}

/* avatar card */
.imgAvatar {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.productImg {
  position: relative;
}
.productId {
  position: absolute;
  left: 10%;
  bottom: 10%;
  font-size: 15px;
  color: #000;
  background: #fff;
  font-weight: 800;
  margin: 0px;
  padding: 0 2px;
}
